
:root{
    --primary-color :#718355;
    --primary-color :#56643f;
    --secondary-color:#87986a;
    --thrid-color:#97a97c;
    --fourth-color:#b5c99a;
    --fith-color:#cfe1b9;
   --sixth-color:#e9f5db;
}


*{
    background: #f5f9f1;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    line-height: 150%;
    
}


.H1{
    color: var(--primary-color);
    background: #fcfefe;
    border: 5px double #718355;
   
    width: 300px;
    padding: 10px;
    margin: auto;
    text-align: center;

    }

#H2{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #718355;
    background: #fcfefe;
    width: 300px;
    padding: 100px;
    
    border-radius: 20%;
   
}

#o{
    margin-top: 20px;
text-align: center;
}